:root {
  --bg-color: #FCFCFC;
  --nav-color: #32323D; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.container {
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 117rem; }

hr {
  background-color: black;
  height: 2px;
  width: 100%; }

.header {
  background-color: #fff;
  margin: 0 auto; }

.content {
  display: flex; }
  .content__left {
    width: 84rem;
    margin-right: 3rem; }
  .content__right {
    width: 30rem; }

footer {
  background-color: #1c9fc0; }

.nav {
  display: flex;
  margin: 2px 0; }
  .nav__container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .nav__link {
    list-style: none;
    margin: 0 1rem; }
  .nav__item {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.4rem;
    font-weight: 700; }
  .nav__item:hover {
    color: #4F9ED9; }
  .nav__input {
    padding: 1rem;
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid #4587ED; }
  .nav__input:focus {
    outline: none; }
  .nav__search {
    background-color: #4587ED;
    padding: 1rem;
    border-radius: 0 .5rem .5rem 0; }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 34rem; }

/* Hide the images by default */
.mySlides {
  display: none; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.icon {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #23262D; }
  .icon__small {
    width: 16rem;
    height: 6rem;
    padding: 5px; }
  .icon__img {
    margin-top: -.8rem;
    border: 5px solid #23262D; }
  .icon__img:hover {
    border: 5px solid #E86229; }

.slide-right {
  height: 39rem;
  background-color: #f1f1f1;
  position: relative; }

.circle {
  position: absolute;
  bottom: -3rem;
  left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .circle__comp {
    display: flex; }
  .circle__img {
    width: 4rem !important;
    height: 4rem;
    border-radius: 4rem;
    margin-right: .5rem;
    border: 1px solid #fff; }
  .circle__img:hover {
    border: 1px solid #4F9ED9; }
  .circle__title {
    color: #ada5a5;
    font-weight: 500;
    padding-bottom: .5rem; }
  .circle__subtitle {
    padding-bottom: 1rem !important;
    opacity: .7; }

.listen {
  background-color: #fff;
  display: flex;
  align-items: center; }
  .listen > * {
    color: #61ADED; }
  .listen__title {
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 1rem; }
  .listen__subtitle {
    font-size: 3rem; }

.listenComp {
  display: flex;
  width: 100%;
  flex-wrap: wrap; }
  .listenComp__container {
    display: flex;
    flex-direction: column;
    width: 15.4rem; }
  .listenComp__container:not(:last-child) {
    margin-right: 1.75rem;
    margin-bottom: 2rem; }
  .listenComp__content {
    position: relative; }
  .listenComp__img {
    width: 15.4rem;
    height: 15.4rem;
    cursor: pointer; }
  .listenComp__listen {
    display: flex;
    align-items: center;
    background-color: rgba(116, 111, 111, 0.349);
    position: absolute;
    left: 91px;
    top: 0;
    z-index: 10; }
  .listenComp__title {
    font-weight: 500;
    text-transform: capitalize; }
  .listenComp__subtitle {
    opacity: .8;
    text-transform: capitalize; }
  .listenComp__play {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #a09c9c5e;
    z-index: 9;
    width: 15.4rem;
    height: 15.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s;
    cursor: pointer; }
  .listenComp__play:hover {
    opacity: 1; }
  .listenComp__fa {
    color: white;
    font-size: 4rem !important; }

.flex-box {
  display: flex; }

.flex-grow {
  flex-grow: 1;
  justify-content: start; }

.mg-top {
  margin-top: 5px; }

.mg-bottom {
  margin-bottom: .5rem; }

.mg-left-0 {
  margin-left: 0; }

.mg-right-0 {
  margin-right: 0 !important; }

.mg-left-20 {
  margin-right: 2rem; }

.mg-top-1 {
  margin-top: -1px; }

.mg-bottom-0 {
  margin-bottom: 0 !important; }
