:root {
  --bg-color: #FCFCFC;
  --nav-color: #32323D; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.container {
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 117rem; }

hr {
  background-color: black;
  height: 2px;
  width: 100%; }

.header {
  background-color: #fff;
  margin: 0 auto; }

.content {
  display: flex; }
  .content__left {
    width: 84rem;
    margin-right: 3rem; }
  .content__right {
    width: 30rem; }

footer {
  background-color: #EFEFEF;
  font-size: 1.6rem; }

.nav {
  display: flex;
  margin: 2px 0; }
  .nav__container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .nav__link {
    list-style: none;
    margin: 0 1rem; }
  .nav__item {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.4rem;
    font-weight: 700; }
  .nav__item:hover {
    color: #4F9ED9; }
  .nav__input {
    padding: 1rem;
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid #4587ED; }
  .nav__input:focus {
    outline: none; }
  .nav__search {
    background-color: #4587ED;
    padding: 1rem;
    border-radius: 0 .5rem .5rem 0; }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 34rem; }

/* Hide the images by default */
.mySlides {
  display: none; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.icon {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #23262D; }
  .icon__small {
    width: 16rem;
    height: 6rem;
    padding: 5px; }
  .icon__img {
    margin-top: -.8rem;
    border: 5px solid #23262D; }
  .icon__img:hover {
    border: 5px solid #E86229; }

.slide-right {
  height: 39rem;
  background-color: #f1f1f1;
  position: relative; }

.circle {
  position: absolute;
  bottom: -3rem;
  left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .circle__comp {
    display: flex; }
  .circle__img {
    width: 4rem !important;
    height: 4rem;
    border-radius: 4rem;
    margin-right: .5rem;
    border: 1px solid #fff; }
  .circle__img:hover {
    border: 1px solid #4F9ED9; }
  .circle__title {
    color: #ada5a5;
    font-weight: 500;
    padding-bottom: .5rem; }
  .circle__subtitle {
    padding-bottom: 1rem !important;
    opacity: .7; }

.listen {
  background-color: #fff;
  display: flex;
  align-items: center; }
  .listen > * {
    color: #61ADED; }
  .listen__title {
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 1rem; }
  .listen__subtitle {
    font-size: 3rem; }

.listenComp {
  display: flex;
  width: 100%;
  flex-wrap: wrap; }
  .listenComp__container {
    display: flex;
    flex-direction: column;
    width: 15.4rem; }
  .listenComp__container:not(:last-child) {
    margin-right: 1.75rem;
    margin-bottom: 2rem; }
  .listenComp__content {
    position: relative; }
  .listenComp__img {
    width: 15.4rem;
    height: 15.4rem;
    cursor: pointer; }
  .listenComp__listen {
    display: flex;
    align-items: center;
    background-color: rgba(116, 111, 111, 0.349);
    position: absolute;
    left: 91px;
    top: 0;
    z-index: 10; }
  .listenComp__title {
    font-weight: 500;
    text-transform: capitalize; }
  .listenComp__subtitle {
    opacity: .8;
    text-transform: capitalize; }
  .listenComp__play {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #a09c9c5e;
    z-index: 9;
    width: 15.4rem;
    height: 15.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s;
    cursor: pointer; }
  .listenComp__play:hover {
    opacity: 1; }
  .listenComp__fa {
    color: white;
    font-size: 4rem !important; }

.rightListen {
  margin-top: 4.5rem;
  width: 100%;
  height: 24.2rem;
  background-image: linear-gradient(#53A5E1, #306495);
  border-radius: 5px;
  padding: 4rem 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .rightListen__title {
    text-transform: capitalize;
    font-size: 2rem;
    text-align: center;
    color: white;
    font-weight: 700; }
  .rightListen__subtitle {
    color: white;
    opacity: .7;
    text-align: center;
    margin-top: 1rem; }
  .rightListen .btn {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 4rem;
    width: 80%; }
    .rightListen .btn > * {
      color: #306495;
      font-size: 2rem; }
    .rightListen .btn__fa {
      margin-right: 5px; }

.hot__link {
  list-style-type: none; }

.hot img {
  margin-bottom: 1rem; }

.mv {
  display: flex; }
  .mv > * {
    width: 41rem;
    height: 23rem;
    background-color: #f5f5f5; }
  .mv__left, .mv__right {
    width: 41rem;
    height: 23rem;
    position: relative;
    flex-grow: 1; }
  .mv__right {
    width: 41rem;
    height: 23rem;
    position: relative;
    margin-left: 2rem; }
  .mv .mv__img {
    width: 100%; }
  .mv__hear {
    display: flex;
    align-items: center;
    background-color: #8072729c;
    position: absolute;
    top: 0;
    right: 0; }
  .mv__time {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(41, 39, 39, 0.699);
    color: #fff;
    padding: 0 5px;
    margin-bottom: -1px; }
  .mv__content {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 1rem; }
  .mv__title {
    color: #fff;
    padding-left: 1rem; }
  .mv__sub {
    color: #fff;
    padding-left: 1rem;
    opacity: .8;
    font-weight: 300; }
  .mv__play {
    position: absolute;
    width: 100%;
    height: 101%;
    background-color: rgba(228, 216, 216, 0.623);
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    transition: opacity 2s;
    margin-bottom: 20px; }
  .mv__play:hover {
    opacity: 1; }
  .mv__play::before {
    content: "";
    position: absolute;
    width: 6rem;
    height: 6rem;
    background-color: rgba(228, 216, 216, 0.623);
    border-radius: 5rem;
    top: 40%;
    left: 40%; }
  .mv__fa {
    position: absolute;
    top: 45%;
    left: 44%;
    color: white;
    font-size: 4rem !important; }

.col {
  display: flex; }
  .col__comp {
    margin-top: 2rem;
    width: 19.5rem;
    list-style: none;
    position: relative; }
  .col__comp:not(:last-child) {
    margin-right: 2rem; }
  .col__img {
    width: 100%; }
  .col__hear {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(146, 132, 132, 0.726);
    display: flex;
    align-items: center;
    color: white; }
  .col__time {
    position: absolute;
    bottom: 6.1rem;
    right: 0;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 0 5px; }
  .col__cover {
    width: 19.5rem;
    height: 11rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(94, 92, 92, 0.562);
    opacity: 0;
    transition: opacity 1s;
    cursor: pointer; }
  .col__cover:hover {
    opacity: 1; }
  .col__play {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 6rem;
    height: 6rem;
    border-radius: 6rem;
    background-color: rgba(90, 86, 86, 0.692);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s;
    cursor: pointer; }
  .col__play:hover {
    opacity: 1; }
  .col__fa {
    color: white;
    font-size: 3rem !important; }
  .col__title {
    text-transform: capitalize;
    font-weight: 600; }
  .col__sub {
    font-weight: 500;
    text-transform: capitalize; }

.song {
  display: flex; }
  .song__left {
    flex: 1; }
  .song__right {
    width: 41rem;
    margin-left: 2rem; }
  .song__content {
    display: flex;
    align-items: center;
    border-top: 1px solid #7a737373;
    padding: 1rem 0;
    cursor: pointer; }
  .song__img {
    width: 6rem;
    height: 6rem; }
  .song__word {
    flex: 1;
    margin-left: 1rem;
    text-transform: capitalize;
    color: #302f2fa8; }
  .song__sub {
    opacity: .7; }
  .song__title:hover, .song__sub:hover {
    color: #4F9ED9; }
  .song__icon {
    display: flex;
    align-items: center; }

.bhx {
  border: 1px solid #e5e5e5;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  cursor: pointer;
  margin-bottom: 5px; }
  .bhx__fa {
    margin-left: 1rem !important;
    font-size: 2.5rem !important;
    margin-top: 8px;
    color: #7a7272; }

.bxh1 {
  display: flex;
  justify-content: center;
  margin-top: 1rem !important; }
  .bxh1__link {
    list-style: none;
    padding: .5rem 1.5rem;
    background-color: #69686891;
    transition: all .5s;
    border-right: 1px solid #69686813; }
  .bxh1__link:hover {
    background-color: #E74C3C;
    color: #fff;
    border-right: 1px solid #fff; }
  .bxh1__radius-left {
    border-radius: 2rem 0 0 2rem; }
  .bxh1__radius-right {
    border-radius: 0 2rem  2rem 0; }
  .bxh1__item {
    text-decoration: none;
    color: #000;
    opacity: .9;
    text-transform: capitalize;
    font-weight: 300; }
  .bxh1__item:hover {
    color: #fff; }

.bxh__container {
  display: flex; }

.bxh__comp1 {
  height: 10rem;
  width: 10rem;
  margin-right: 1rem;
  position: relative;
  margin-top: 2rem; }

.bxh__img {
  height: 10rem;
  width: 10rem; }

.bxh__title {
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 300; }

.bxh__sub {
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: capitalize; }

.bxh__num {
  position: absolute;
  bottom: 0px;
  left: 0;
  font-size: 2rem;
  color: white;
  background-color: red;
  padding: 0 1rem; }

.bxh__comp2 {
  margin-top: 2rem; }

.rightWord {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(158, 153, 153, 0.637);
  margin-top: 1rem;
  padding-top: 1rem; }
  .rightWord__comp1 {
    padding: .5rem;
    color: #2C5D8E;
    font-size: 2rem;
    margin-right: 1rem; }
  .rightWord__title {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.6rem; }
  .rightWord__sub {
    text-transform: capitalize;
    font-weight: 500;
    opacity: .8;
    font-size: 1.4rem; }

.topMv {
  padding-bottom: 1rem; }
  .topMv__comp {
    width: 30rem;
    height: 16.8rem;
    position: relative;
    margin-top: 2rem; }
  .topMv__img {
    width: 30rem;
    height: 16.8rem; }
  .topMv__num {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 1.5rem;
    font-size: 3rem;
    background-color: red;
    color: white; }
  .topMv__word {
    position: absolute;
    bottom: 0px;
    left: 55px; }
  .topMv__title {
    text-transform: capitalize;
    color: white;
    font-weight: 500; }
  .topMv__sub {
    opacity: .8;
    text-transform: capitalize; }
  .topMv__img-size {
    width: 11rem;
    height: 6.2rem; }

.top100 {
  border-bottom: 1px solid #56ABED;
  margin-bottom: 3rem;
  position: relative; }
  .top100__comp1 {
    width: 30rem;
    background-color: #56ABED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
  .top100__title {
    text-transform: uppercase;
    color: white;
    font-size: 2.2rem;
    line-height: 22px;
    font-weight: 500;
    margin-top: 1rem; }
  .top100__absolute {
    position: absolute;
    top: -2.5rem;
    right: -2.5rem;
    z-index: 5; }
  .top100__line {
    height: 1px;
    width: 4.3rem;
    background-color: #fff;
    margin: 5px;
    margin-top: 1.5rem;
    opacity: .5; }
  .top100__word {
    display: flex;
    align-items: center;
    padding-bottom: 1rem; }
  .top100__comp2 {
    padding: 1.5rem;
    border: 1px solid #56ABED;
    border-bottom: none;
    border-top: none; }
  .top100__content {
    display: flex;
    position: relative; }
  .top100__content--img {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem; }
  .top100__cover {
    width: 6rem;
    background-color: rgba(83, 80, 80, 0.76);
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: all 1s; }
  .top100__cover:hover {
    opacity: 1; }
  .top100__cover::after {
    content: "";
    background-color: transparent;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    position: absolute;
    border: 1px solid white;
    cursor: pointer; }
  .top100__fa {
    color: white;
    z-index: 7;
    cursor: pointer; }
  .top100__sub {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.4rem; }
  .top100__note {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #56ABED; }
  .top100__notes {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0px 5px; }

.kara {
  display: flex; }
  .kara__container {
    position: relative;
    width: 19.5rem;
    height: 11rem;
    margin-right: 2rem; }
  .kara__img {
    width: 19.5rem;
    height: 11rem;
    cursor: pointer; }
  .kara__eyes {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: rgba(190, 179, 179, 0.685);
    padding: 0 5px; }
  .kara__fa {
    margin-right: 5px; }
  .kara__time {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(190, 179, 179, 0.685);
    color: white; }
  .kara__title {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.7rem; }
  .kara__sub {
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 300;
    opacity: .8; }

.footer__title {
  padding-top: 1rem;
  font-size: 1.8rem; }

.fcontent {
  display: flex;
  align-items: center;
  position: relative; }
  .fcontent__img:not(:last-child) {
    margin-right: 4.5rem; }
  .fcontent__prev {
    width: 5.6rem;
    height: 5.6rem;
    background-color: #fff;
    opacity: .9;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
  .fcontent__iconl {
    font-size: 3rem;
    opacity: .5; }
  .fcontent__next {
    width: 5.6rem;
    height: 5.6rem;
    background-color: #fff;
    opacity: .9;
    position: absolute;
    top: 20%;
    right: 0;
    z-index: 3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
  .fcontent__iconr {
    font-size: 3rem;
    opacity: .5; }

.box-menu {
  display: flex; }

.support {
  margin-right: 9.5rem; }
  .support__content {
    display: flex; }
  .support__icon {
    font-size: 1.3rem;
    text-transform: capitalize;
    opacity: .7;
    padding: 1.2rem 0; }
  .support__title {
    text-transform: capitalize; }
  .support__sub {
    width: 27rem;
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: 1.3rem;
    color: #4F9ED9; }
  .support__box1 {
    display: flex;
    width: 3.2rem;
    height: 3.2rem; }
  .support__img {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1.5rem; }
  .support__box2 {
    display: flex;
    width: 10.8rem;
    height: 3.2rem; }
  .support__img2 {
    height: 3.2rem;
    margin-right: 1.5rem;
    margin-top: 2rem; }

.box-2 {
  display: flex;
  align-items: center;
  margin-top: 3rem; }
  .box-2__link {
    font-size: 1.3rem;
    padding: 5px;
    list-style-position: inside;
    font-weight: 500; }
  .box-2__3 {
    width: 10rem;
    height: 10rem; }
  .box-2__2 {
    width: 12rem;
    height: 4rem;
    margin-right: 3.5rem; }
  .box-2__ntc {
    margin-right: 3rem;
    width: 8rem; }
  .box-2__word {
    flex: 1; }
  .box-2__title {
    opacity: .8;
    font-size: 1.8rem; }

.address {
  margin-top: 2rem;
  background-image: linear-gradient(to right, #4280ED, #57ACEF); }
  .address__1 {
    display: flex;
    align-items: center;
    padding: 2rem;
    color: white; }
  .address__fa {
    margin-right: 5px; }

.flex-box {
  display: flex; }

.flex-grow {
  flex-grow: 1;
  justify-content: start; }

.mg-top {
  margin-top: 5px; }

.mg-bottom {
  margin-bottom: .5rem; }

.mg-left-0 {
  margin-left: 0; }

.mg-right-0 {
  margin-right: 0 !important; }

.mg-left-20 {
  margin-right: 2rem; }

.mg-top-1 {
  margin-top: -1px; }

.mg-bottom-0 {
  margin-bottom: 0 !important; }

.mg-top-8 {
  margin-top: 8px; }

.mg-top-20 {
  margin-top: 2rem; }

.pd-bottom-0 {
  padding-bottom: 0; }

.color-orang {
  color: #E74C3C; }

.color-green {
  color: #15c215; }

.color-grey {
  color: #5f5c5b; }

.border-bottom {
  border-bottom: 1px solid rgba(158, 153, 153, 0.637);
  padding-bottom: 1rem;
  margin-bottom: 1rem; }

.bg-color-0 {
  background-color: rgba(255, 255, 255, 0) !important; }

.line-100 {
  margin-top: 1rem;
  margin-bottom: 0;
  opacity: .5;
  background-color: #8a8585; }

.pd-bottom-2 {
  padding-bottom: 2.5rem; }

.mg-bottom-10 {
  margin-bottom: 1rem; }

.mg-right-55 {
  margin-right: 5.5rem; }

.hr-footer {
  margin-top: 3rem;
  opacity: .8; }
