// ===========NAV start=====================
.nav {
    display: flex;
    margin: 2px 0;


    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__link {
        list-style: none;
        margin: 0 1rem;
        
    }

    &__item {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.6);
        font-size: 1.4rem;
        font-weight: 700;
    }

    &__item:hover {
        color: #4F9ED9;
    }

    &__input {
        padding: 1rem;
        border-radius: .5rem 0 0 .5rem;
        border: 1px solid #4587ED;
    }
    &__input:focus {
        outline: none;
    }
    &__search {
        background-color: #4587ED;
        padding: 1rem;
        border-radius: 0 .5rem .5rem 0;
    }
}


// ==============Nav end ============
// ===========slide start==========
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 34rem;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  


  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
// ==== icon===
.icon {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23262D;

    &__small {
        width: 16rem;
        height: 6rem;
        padding: 5px;
        
    }

    &__img {
        margin-top: -.8rem;
        border: 5px solid #23262D;
    }

    &__img:hover {
        border: 5px solid #E86229;
    }
}
// ===========slide end ==========
// =======slide-right=============
.slide-right {
    height: 39rem;
    background-color: #f1f1f1;
    position: relative;
}

.circle {
    position: absolute;
    bottom: -3rem;
    left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__comp {
        display: flex;
    }

    &__img{
        width: 4rem !important;
        height: 4rem;
        border-radius: 4rem;
        margin-right: .5rem;
        border: 1px solid #fff;
    }
    &__img:hover {

        border: 1px solid #4F9ED9;
    }

    &__title {
        color: #ada5a5;
        font-weight: 500;
        padding-bottom: .5rem;
    }

    &__subtitle {
        padding-bottom: 1rem !important;
        opacity: .7;
    }

}
// =======slide-right - end=============
// <!-- Listen-today-start -->
.listen {
    background-color: #fff;
    display: flex;
    align-items: center;

    & > * {
        color: #61ADED;
    }
    &__title {
        text-transform: uppercase;
        font-weight: 500;
        margin-right: 1rem;
    }
    &__subtitle {
        font-size: 3rem;
    }
}

.listenComp {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
    &__container {
        display: flex;
        flex-direction: column;
        
        width: 15.4rem;
    }
    &__container:not(:last-child) {
        margin-right: 1.75rem;
        margin-bottom: 2rem;
    }

    &__content {
        position: relative;
       
    }

    &__img {
        width: 15.4rem;
        height: 15.4rem;
        cursor: pointer;
    }

    &__listen {
        display: flex;
        align-items: center;
        background-color: rgba(116, 111, 111, 0.349);

        position: absolute;
        left: 91px;
        top: 0;
        z-index: 10;
    }

    &__title {
        font-weight:500 ;
        text-transform: capitalize;
    }
    &__subtitle {
        opacity: .8;
        text-transform: capitalize;
    }

   &__play {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #a09c9c5e;
        z-index: 9;
        width: 15.4rem; 
        height: 15.4rem; 
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity .5s;
        cursor: pointer;
   }

   &__play:hover {
       opacity: 1;
   }

   &__fa {
    color: white;
    font-size: 4rem !important;
   }


}
// <!-- Listen-today-end -->
// listen-right start
.rightListen {
    margin-top: 4.5rem;
    width: 100%;
    height: 24.2rem;
    background-image: linear-gradient(#53A5E1, #306495 );
    border-radius: 5px;
    padding: 4rem 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        text-transform: capitalize;
        font-size: 2rem;
        text-align: center;
        color: white;
        font-weight: 700;
    }

    &__subtitle {
        color: white;
        opacity: .7;
        text-align: center;
        margin-top: 1rem;
    }

    .btn {
        display: flex;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        padding: 1rem;
        border-radius: 4rem;
        width: 80%;

        & > * {
            color: #306495 ;
            font-size: 2rem;
        }

        &__fa {
            margin-right: 5px;
            
        }
    }
}
// listen-right end
// hot--subject-start
.hot {

    &__link {
        list-style-type: none;
    }
    img {
        margin-bottom: 1rem;
    }
}
// hot--subject-end
// hot-em-start
.mv {
    display: flex;

    & > *{
        width: 41rem;
        height: 23rem;
        background-color: #f5f5f5;
    }

    &__left, &__right {
        width: 41rem;
        height: 23rem;
        position: relative;
        flex-grow: 1;
    }
    &__right {
        width: 41rem;
        height: 23rem;
        position: relative;
        margin-left: 2rem;
    }
    .mv__img {
        width: 100%;
    }
    &__hear {
        display: flex;
        align-items: center;
        background-color: #8072729c;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__time {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgba(41, 39, 39, 0.699);
        color: #fff;
        padding: 0 5px;
        margin-bottom: -1px;
    }

    &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 1rem;
    }
    &__title {
        color: #fff;
        padding-left: 1rem;
    }
    &__sub {
        color: #fff;
        padding-left: 1rem;
        opacity: .8;
        font-weight: 300;
    }
    
    &__play {
        position: absolute;
        width:100%;
        height:101%;
        background-color: rgba(228, 216, 216, 0.623);
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
        transition: opacity 2s;
        margin-bottom: 20px;
    }
    &__play:hover {
        opacity: 1;
    }
    &__play::before {
        content: "";
        position: absolute;
        width:6rem;
        height:6rem;
        background-color: rgba(228, 216, 216, 0.623);
        border-radius: 5rem;
        top: 40%;
        left: 40%;
    }
    &__fa {
        position: absolute;
        top: 45%;
        left: 44%;
        color: white;
        font-size: 4rem !important;
    }
}
// hot-em-end
// col-start
.col {
    display: flex;

    &__comp {
        margin-top: 2rem;
        width: 19.5rem;
        // height: 11rem;
        list-style: none;
        position: relative;
    }

    &__comp:not(:last-child)  {
        margin-right: 2rem;
    }

    &__img {
        width: 100%;
    }
    &__hear {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(146, 132, 132, 0.726);
        display: flex;
        align-items: center;
        color: white;
    }
    &__time {
        position: absolute;
        bottom: 6.1rem;
        right: 0;
        background-color: rgba(255, 255, 255, 0.582);
        padding: 0 5px;
    }
    &__cover {
        width: 19.5rem;
        height: 11rem;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(94, 92, 92, 0.562);
        opacity: 0;
        transition: opacity 1s;
        cursor: pointer;
    }
    &__cover:hover {
        opacity: 1;
    }
    &__play {
        position: absolute;
        top: 30%;
        left: 35%;
        width: 6rem;
        height: 6rem;
        border-radius: 6rem;
        background-color: rgba(90, 86, 86, 0.692);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 1s;
        cursor: pointer;
    }

    &__play:hover {
        opacity: 1;

    }

    &__fa {
        color: white;
        font-size: 3rem !important;
    }
    &__title {
        text-transform: capitalize;
        font-weight: 600;
    }
    &__sub {
        font-weight: 500;
        text-transform: capitalize;
    }
}
// col-end
//song-start
.song {
    display: flex;

    &__left {
        flex: 1;
    }
    &__right {
        width: 41rem;
        margin-left: 2rem;
    }

    &__content {
        display: flex;
        align-items: center;
        border-top: 1px solid #7a737373;
        padding: 1rem 0;
        cursor: pointer;
    }
    &__img {
        width: 6rem;
        height: 6rem;
    }
    &__word {
        flex: 1;
        margin-left: 1rem;
        text-transform: capitalize;
        color: #302f2fa8;
    }

    &__sub {
        opacity: .7;
    }

    &__title:hover, &__sub:hover {
        color: #4F9ED9;
    }

    &__icon {
        display: flex;
        align-items: center;
       
    }
}
//song-end
// bxh -start
.bhx {
    border: 1px solid #e5e5e5;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    cursor: pointer;
    margin-bottom: 5px;

    &__fa {
        margin-left: 1rem !important;
        font-size: 2.5rem !important;
        margin-top: 8px;
        color: #7a7272;
        
    }
}
.bxh1{
    display: flex;
    justify-content: center;
    margin-top: 1rem !important;
   
    &__link {
        list-style: none;
        padding: .5rem 1.5rem;
        background-color: #69686891;
        transition: all .5s;
        border-right: 1px solid #69686813;

    } 
    &__link:hover  {
        background-color: #E74C3C;
        color: #fff;
        border-right: 1px solid #fff;
    }
    
    &__radius-left {
        border-radius: 2rem 0 0 2rem;
        
      
    }

    &__radius-right {
        border-radius: 0 2rem  2rem 0;
    }
    
    &__item {
        text-decoration: none;
        color: #000;
        opacity: .9;
        text-transform: capitalize;
        font-weight: 300;
    }
    &__item:hover {
        color: #fff;
    }
}

.bxh__container {
    display: flex;
    // align-items: center;

}
.bxh__comp1 {
    height: 10rem;
    width: 10rem;
    margin-right: 1rem;
    position: relative;
    margin-top: 2rem;
}

.bxh__img  {
    height: 10rem;
    width: 10rem;
}

.bxh__title {
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 300;

}
.bxh__sub {
    font-weight: 300;
    font-size: 1.2rem;
    // margin-top: 1rem;
    text-transform: capitalize;
}

.bxh__num {
    position: absolute;
    bottom: 0px;
    left: 0;
    font-size: 2rem;
    color: white;
    background-color: red;
    padding: 0 1rem;
}
.bxh__comp2 {
    margin-top: 2rem;
}
// bxh -end
// right word start
.rightWord {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(158, 153, 153, 0.637);
    // border-bottom: 1px solid rgba(158, 153, 153, 0.637);
    margin-top: 1rem;
    padding-top: 1rem;

    &__comp1 {
        padding: .5rem;
        color: #2C5D8E;
        font-size: 2rem;
        margin-right: 1rem;
    }

    &__title {
        text-transform: capitalize;
        font-weight: 500;
        // opacity: .95;
        font-size: 1.6rem;
    }

    &__sub {
        text-transform: capitalize;
        font-weight: 500;
        opacity: .8;
        font-size: 1.4rem;
    }
}
// right word end
// topme start
.topMv {
    padding-bottom: 1rem;

    &__comp {
        width: 30rem;
        height: 16.8rem;
        position: relative;
        margin-top: 2rem;
    }

    &__img {
        width: 30rem;
        height: 16.8rem;
    }

    &__num {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 1.5rem;
        font-size: 3rem;
        background-color: red;
        color: white;
    }
    &__word {
        position: absolute;
        bottom: 0px;
        left: 55px;
    }
    &__title {
        text-transform: capitalize;
        color: white;
        font-weight: 500;
    }
    &__sub {
        opacity: .8;
        text-transform: capitalize;
    }
    &__img-size {
        width: 11rem;
        height: 6.2rem;
    }
} 
// topme end
// top-100-start
.top100 {
    border-bottom: 1px solid #56ABED;
    margin-bottom: 3rem;
    position: relative;

    &__comp1 {
        // height: 8.5rem;
        width: 30rem;
        background-color: #56ABED;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__title {
        text-transform: uppercase;
        color:white;
        font-size: 2.2rem;
        line-height: 22px;
        font-weight: 500;
        margin-top: 1rem;
    }
    &__absolute {
        position: absolute;
        top: -2.5rem;
        right: -2.5rem;
        z-index: 5;
    }
    &__line {
        height: 1px;
        width: 4.3rem;
        background-color: #fff;
        margin: 5px;
        margin-top: 1.5rem;
        opacity: .5;
    }
    &__word {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
    }
    &__comp2 {
        padding: 1.5rem;
        border: 1px solid #56ABED;
        border-bottom: none;
        border-top: none;
    }

    &__content {
        display: flex;
        position: relative;
  
    }
    &__content--img {
        width: 6rem;
        height: 6rem;
        margin-right: 1rem;
        
    }
    &__cover{
        width: 6rem;
        background-color: rgba(83, 80, 80, 0.76);
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0;
        transition: all 1s;
    }
    &__cover:hover {
        opacity: 1;
    }
    &__cover::after {
        content: "";
        background-color: transparent;
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;
        position: absolute;
        border: 1px solid white;
        cursor: pointer;
    }
    &__fa {
        color: white;
        z-index: 7;
        cursor: pointer;
    }
    &__sub {
        text-transform: capitalize;
        font-weight: 500;
        font-size: 1.4rem;
    }

    &__note {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #56ABED;
    }

    &__notes {
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0px 5px;
    }
}
// top-100-end
// kara start
.kara {
    display: flex;

    
    &__container {
        position: relative;
        width: 19.5rem;
        height: 11rem;
        margin-right: 2rem;
    }
    &__img {
        width: 19.5rem;
        height: 11rem;
        cursor: pointer;
    }
    &__eyes {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        background-color: rgba(190, 179, 179, 0.685);
        padding: 0 5px;
    }
    &__fa {
        margin-right: 5px;
    }
    &__time {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgba(190, 179, 179, 0.685);
        color: white;
    }
    &__title {
        text-transform: capitalize;
        font-weight: 500;
        font-size: 1.7rem;
    }
    &__sub {
        font-size: 1.4rem;
        text-transform: capitalize;
        font-weight: 300;
        opacity: .8;
    }
}
// kara end
//footer start
.footer__title {
    padding-top: 1rem;
    font-size: 1.8rem;
    
}

.fcontent {
    display: flex;
    align-items: center;
    position: relative;
    

    &__img:not(:last-child) {
        margin-right: 4.5rem;
    }

    &__prev {
        width: 5.6rem;
        height: 5.6rem;
        background-color: #fff;
        opacity: .9;
        position: absolute;
        top: 20%;
        left: 0;
        z-index: 3;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &__iconl {
        font-size: 3rem;
        opacity: .5;
    }
    &__next {
        width: 5.6rem;
        height: 5.6rem;
        background-color: #fff;
        opacity: .9;
        position: absolute;
        top: 20%;
        right: 0;
        z-index: 3;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &__iconr {
        font-size: 3rem;
        opacity: .5;
    }
}
////############
.box-menu {
    display: flex;

}

.support {
    margin-right: 9.5rem;

    &__content {
        display: flex;
    }
    &__icon {
        font-size: 1.3rem;
        text-transform: capitalize;
        opacity: .7;
        padding:  1.2rem 0;
    }
    &__title {
        text-transform: capitalize;
    }
    &__sub {
        width: 27rem;
        font-weight: 500;
        font-size: 1.4rem;
        margin-top: 1.3rem;
        color: #4F9ED9;
    }
    &__box1 {
        display: flex;
        width: 3.2rem;
        height: 3.2rem;
        
    }
    &__img {
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 1.5rem;
       
    }
    &__box2 {
        display: flex;
        width: 10.8rem;
        height: 3.2rem;
    }
    &__img2 {
        height: 3.2rem;
        margin-right: 1.5rem;
        margin-top: 2rem;
    }

}

// ===========ntc
.box-2 {
    display: flex;
    align-items: center;
    margin-top: 3rem;

    &__link {
        font-size: 1.3rem;
        padding: 5px;
        list-style-position: inside;
        font-weight: 500;
    }
    &__3 {
        width: 10rem;
        height: 10rem;
    }
    &__2 {
        width: 12rem;
        height: 4rem;
        margin-right: 3.5rem;
    }
    &__ntc {
        margin-right: 3rem;
        width: 8rem;

    }
    &__word {
        flex: 1;
    }
    &__title {
        opacity: .8;
        font-size: 1.8rem;
    }
}

/////////adress
.address {
    margin-top: 2rem;
    background-image: linear-gradient(to right, #4280ED, #57ACEF);

    &__1 {
        display: flex;
        align-items: center;
        padding: 2rem;
        color: white;
    }
    &__fa {
        margin-right: 5px;
    }
}