.flex-box {
    display: flex;
}
.flex-grow {
    flex-grow: 1;
    justify-content: start;
}

.mg-top {
    margin-top: 5px;
}

.mg-bottom {
    margin-bottom: .5rem;
}
.mg-left-0 {
    margin-left: 0;
}
.mg-right-0 {
    margin-right: 0 !important;
}
.mg-left-20 {
    margin-right: 2rem;
}
.mg-top-1 {
    margin-top: -1px;
}
.mg-bottom-0 {
    margin-bottom: 0 !important;
}

.mg-top-8 {
    margin-top: 8px;
}

.mg-top-20 {
    margin-top: 2rem;
}