.flex-box {
    display: flex;
}
.flex-grow {
    flex-grow: 1;
    justify-content: start;
}

.mg-top {
    margin-top: 5px;
}

.mg-bottom {
    margin-bottom: .5rem;
}
.mg-left-0 {
    margin-left: 0;
}
.mg-right-0 {
    margin-right: 0 !important;
}
.mg-left-20 {
    margin-right: 2rem;
}
.mg-top-1 {
    margin-top: -1px;
}
.mg-bottom-0 {
    margin-bottom: 0 !important;
}

.mg-top-8 {
    margin-top: 8px;
}

.mg-top-20 {
    margin-top: 2rem;
}
 .pd-bottom-0 {
     padding-bottom: 0;
 }

//////////colors

.color-orang {color: #E74C3C;}

.color-green {
    color: rgb(21, 194, 21);
}

.color-grey {color: rgb(95, 92, 91);}

.border-bottom{
    border-bottom: 1px solid rgba(158, 153, 153, 0.637);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.bg-color-0 {
    background-color: rgba(255, 255, 255, 0) !important;
}

.line-100 {
    margin-top: 1rem;
    margin-bottom: 0;
    opacity: .5;
    background-color: rgb(138, 133, 133);
}

.pd-bottom-2 {
    padding-bottom: 2.5rem;
}